*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}



body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#075e54;

}



.container{

background:white;
width:350px;
padding:40px 30px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,0.2);

}



.logo{

font-size:70px;
margin-bottom:20px;

}



h1{

font-size:35px;
color:#075e54;

}



p{

color:#666;
margin:15px 0 30px;

}



button{

width:100%;
padding:14px;
border:none;
border-radius:30px;
font-size:16px;
cursor:pointer;

}



.login{

background:#075e54;
color:white;

}



.signup{

background:#25D366;
color:white;
margin-top:15px;

}



a{

text-decoration:none;

}